{# Handles output for all button variants. #}
{# Related uw_wp_theme file: /inc/shortcodes/class.cards-shortcode.php #}
{{ kint(variant, link, text, color) }}
{% set variant = variant == 'default' ? 'arrow' : variant %}
{% set color = color == 'light__gold' ? 'light-gold' : color %}
{%
  set link_classes = [
    'btn',
    size == 'large' ? 'btn-lg' : 'btn-sm',
    variant is not empty ? variant,
    variant not in ['primary', 'secondary'] ? 'arrow',
    variant in ['icon'] ? 'icon-link',
    variant == 'icon' ? icon_to_display,
    color is not empty ? color : 'purple'
  ]
%}
{#  Set arrow classes based on style #}
{% set arrow_box_classes = [
    variant == 'arrow' ? 'arrow' : '',
    variant == 'icon' ? 'icon ic-' ~ icon_to_display : ''
  ]
%}

<a{{create_attribute({'href':link}).addClass(link_classes)}}>
  <span>
    {{text}}
  </span>
  {% if variant not in ['primary', 'secondary'] %}
    <span class="arrow-box">
      <span{{create_attribute().addClass(arrow_box_classes)}}></span>
    </span>
  {% endif %}
</a>
