// Bootstrap alert styling
#page .alert {
	border-radius: 0;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	&.alert-warning {
		color: #8a631b; // accessible color contrast tweak
	}

	&.alert-light {
		color: #737573; // accessible color contrast tweak

		.alert-link {
			color: #727577; // accessible color contrast tweak
		}
	}
}

// UW Alert styling
#uwalert-alert-message {
	padding: 0 20px 40px;
	position: relative;
	z-index: 1;

	@media only screen and (max-width : 769px) {
		//z-index: 100;
		position: absolute;
		width: 100%;
	}


	h1 {
		color: white;
		font-size: 25px;
		padding-top: 29px;
		margin-bottom: 14.5px;
	}
	a.more:after {
	  	background-position: -239px -492px
	}
	p {
		color: white;
		line-height: 1.62222;
		display: inline;
	}

	a.more {
		color: #FDE048;
		display: inline-block;

		&:after {
			bottom: 3px;
		}
	}

	&.uwalert-red,
	&.red-alert-urgent {
	  	background-color: #C61029;
	}
	&.uwalert-orange,
	&.orange-alert {
	  	background-color: #ec7330;
	}
	&.uwalert-steel,
	&.steel-alert-fyis {
	  	background-color: #597286;
	}
	.close {
		position: absolute;
		background: url(../assets/svg/uw-sprite.svg) no-repeat -721px 6px transparent;
		text-indent: -9999px;
		overflow: hidden;
		width: 40px;
		height: 40px;
		margin-top: 30px;
		opacity: 1;
		background-size: 1330px;
		display: block;
		right: 30px;
		top: 0;
		cursor: pointer;
	}
}

@media only screen and (min-width : 1201px) {
	#uwalert-alert-message {
		background: url(../assets/images/alert.png) no-repeat  0 -10px transparent;
		padding-left: 125px;
	}
}
