/*--------------------------------------------------------------
## Blocks - all stock WP Rig - TODO: needs UW-ify-ing
--------------------------------------------------------------*/
/*
 * Available block selectors:

 * .wp-block-image
 * .wp-block-gallery
 * .wp-block-video
 * .wp-block-quote
 * .wp-block-text-columns
 * .wp-block-cover-text
 * .wp-block-button
 * .wp-block-gallery
 * .wp-block-table
 * .wp-block-embed
 * .wp-block-audio
 * .wp-block-pullquote
 * .wp-block-preformatted
 * .wp-block-code
 * .wp-block-verse

 */

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 1.5em auto;
	padding: 0 1em;
}

.alignwide {
	max-width: calc(50% + 45rem / 2);
}

.alignfull {
	max-width: 100%;
	padding: 0;
}

.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image h2 {
	margin-top: 0;
}

/* Columns Block (experimental) */
.wp-block-columns {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.wp-block-columns {
		display: flex;
		justify-content: space-between;
		gap: 1em;
	}

	.has-2-columns .wp-block-column {
		flex: none;
		width: calc(50% - .5em);
	}

	.has-3-columns .wp-block-column {
		flex: none;
		width: calc(33.3333% - .5em);
	}

	.has-4-columns .wp-block-column {
		flex: none;
		width: calc(25% - .5em);
	}
}
/* END Columns Block (experimental) */

.wp-block-latest-posts,
.wp-block-latest-comments,
.wp-block-archives,
.wp-block-categories {
	padding-left: 0;
}

/*--------------------------------------------------------------
## Custom block colors.
--------------------------------------------------------------*/

.has-dusty-orange-color,
.has-dusty-orange-color a {
	color: #ED8F5B;
}

.has-dusty-orange-background-color {
	background-color: #ED8F5B;
}

.has-dusty-red-color,
.has-dusty-red-color a {
	color: #E36D60;
}

.has-dusty-red-background-color {
	background-color: #E36D60;
}

.has-dusty-wine-color,
.has-dusty-wine-color a {
	color: #9C4368;
}

.has-dusty-wine-background-color {
	background-color: #9C4368;
}

.has-dark-sunset-color,
.has-dark-sunset-color a {
	color: #33223B;
}

.has-dark-sunset-background-color {
	background-color: #33223B;
}

.has-almost-black-color,
.has-almost-black-color a {
	color: #0A1C28;
}

.has-almost-black-background-color {
	background-color: #0A1C28;
}

.has-dusty-water-color,
.has-dusty-water-color a {
	color: #41848F;
}

.has-dusty-water-background-color {
	background-color: #41848F;
}

.has-dusty-sky-color,
.has-dusty-sky-color a {
	color: #72A7A3;
}

.has-dusty-sky-background-color {
	background-color: #72A7A3;
}

.has-dusty-daylight-color,
.has-dusty-daylight-color a {
	color: #97C0B7;
}

.has-dusty-daylight-background-color {
	background-color: #97C0B7;
}

.has-dusty-sun-color,
.has-dusty-sun-color a {
	color: #EEE9D1;
}

.has-dusty-sun-background-color {
	background-color: #EEE9D1;
}

/*--------------------------------------------------------------
## Custom block font sizes.
--------------------------------------------------------------*/

.has-small-font-size {
	font-size: calc(16 / 16)rem;
}

.has-regular-font-size {
	font-size: calc(17 / 16)rem;
}

.has-large-font-size {
	font-size: calc(36 / 16)rem;
}

.has-larger-font-size {
	font-size: calc(48 / 16)rem;
}

/*--------------------------------------------------------------
### Gallery Block - overrides core styles
--------------------------------------------------------------*/

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
}

/* Override standard ul indentation. */

.entry-content .wp-block-gallery {
	padding-right: 1.5em;
	padding-left: 1.5em;
}

@media screen and (min-width: 48em) {
	.entry-content .wp-block-gallery {
		padding-right: 0;
		padding-left: 0;
	}
}

.wp-block-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: .5em;
}

.wp-block-gallery.columns-2 .blocks-gallery-item,
.wp-block-gallery.columns-3 .blocks-gallery-item,
.wp-block-gallery.columns-4 .blocks-gallery-item,
.wp-block-gallery.columns-5 .blocks-gallery-item,
.wp-block-gallery.columns-6 .blocks-gallery-item,
.wp-block-gallery.columns-7 .blocks-gallery-item,
.wp-block-gallery.columns-8 .blocks-gallery-item,
.wp-block-gallery.columns-9 .blocks-gallery-item {
	grid-column: span 1;
	margin: 0;
	width: inherit;
}


.blocks-gallery-item:last-child:nth-child(odd) {
	grid-column: span 2;
}

@media screen and (min-width: 40em) {
	.wp-block-gallery.columns-2 {
		grid-template-columns: repeat(2, 1fr);
	}

	.wp-block-gallery.columns-3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.wp-block-gallery.columns-4 {
		grid-template-columns: repeat(4, 1fr);
	}

	.wp-block-gallery.columns-5 {
		grid-template-columns: repeat(5, 1fr);
	}

	.wp-block-gallery.columns-6 {
		grid-template-columns: repeat(6, 1fr);
	}

	.wp-block-gallery.columns-7 {
		grid-template-columns: repeat(7, 1fr);
	}

	.wp-block-gallery.columns-8 {
		grid-template-columns: repeat(8, 1fr);
	}

	.wp-block-gallery.columns-9 {
		grid-template-columns: repeat(9, 1fr);
	}
}

