/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget li {
	line-height: 1.8em;
}

.widget_archive ul,
.widget_categories ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_recent_comments ul,
.widget_pages ul,
.widget_recent_entries ul,
.widget_rss ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.widget_text ul {
	margin-left: 0;
	padding-left: 1.5em;
}

.widget select {
	max-width: 100%;
	text-overflow: ellipsis;
}

/* Archive and Categories widgets */
.widget_archive li {
	color: #7D7D7D;
}

.widget_categories .children {
	padding-top: 0;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

/* Pages and Menu widgets */
.widget_pages .children,
.widget_nav_menu .sub-menu {
	padding-top: 0;
	padding-bottom: .5em;
}

.widget_pages a,
.widget_nav_menu a {
	display: block;
	padding: .6em 0;
	text-decoration: none;
	border-bottom: 1px dashed gray;
}

.widget_pages a:hover, .widget_pages a:focus,
.widget_nav_menu a:hover,
.widget_nav_menu a:focus {
	text-decoration: none;
	border-bottom: 1px dashed gray;
}

.widget_pages li,
.widget_nav_menu li {
	padding: 0;
}

.widget_pages li ul,
.widget_nav_menu li ul {
	margin-left: 1em;
}

/* Meta widget */
.widget_meta li {
	padding: 0;
}

/* Recent comments */
.widget_recent_comments li {
	line-height: 1.3em;
	padding-bottom: .5em;
}

.widget_recent_comments a:hover,
.widget_recent_comments a:focus {
	padding-left: 0;
}

/* RSS widget */
.widget_rss li {
	margin-bottom: 1em;
	line-height: 1.3em;
}

.widget li a.rsswidget {
	padding-right: .5em;
	font-size: 1em;
	line-height: 1.4em;
}

.rss-date,
.widget_rss cite {
	color: #333;
	font-size: .8em;
}

.rssSummary {
	font-family: 'Open Sans', sans-serif;
	padding: .5em 0;
	font-size: .9em;
	line-height: 1.3em;
}

/* Search widget */
.widget_search input[type="search"] {
	box-sizing: border-box;
	width: 100%;
	padding: .5em 1em;
	border: 1px solid #c3c3c3;
	border-radius: 0;
}

/* Calendar widget */
.widget_calendar {
	font-weight: 400;
}

.widget_calendar caption {
	padding: .5em 0;
	font-size: 1em;
	font-weight: 500;
	text-align: left;
}

.widget_calendar thead {
	background: transparent;
	color: black;
}

.widget_calendar thead th {
	border-bottom-width: 2px;
}

.widget_calendar td {
	padding: .2em;
	font-size: .8em;
	text-align: center;
	background: white;
	border: 1px solid #cccccc;
}

.widget_calendar th {
	border: none;
	text-align: center;
}

.widget_calendar .pad {
	background: #eaeaea;
}

.widget_calendar a {
	font-weight: 900;
	text-decoration: none;
}

/* Text widget */
.textwidget {
	font-size: 90%;
	line-height: 1.5;
}

/* Footer widget stylings */
.footer-widgets {
	margin: 2em 0 0;
	padding: 1em 0;
	background-color: #1a1a1a;
}

/* UW widgets */
.widget .udub-slant-divider {
	@include udub-slant-divider;
}

.widget-area .nav {
	margin-left: -20px;
	margin-right: -20px;
	padding: 20px;
	margin-top: -80px;
	margin-bottom: 60px;
	background: white;

	@media (max-width: 991px) {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		padding: 0;
	}

	.current_page_item, .current_page_parent {
		background: white;

		.nav-link {
			background: $purple;
			color: white;
			text-decoration: none;
			padding: 10px 10px 10px 20px;
			border-left: 10px solid $gold;
			font-weight: 600;
		}

		ul.children {
			margin-left: 0;
			padding-left: 0;
			list-style: none;

			.nav-item {
				.nav-link {
					border-left-color: #eee;
					color: #5a5a5a;
					background-color: #eee;
					margin-bottom: 1px;
					font-weight: normal;

					&:hover, &:active, &:focus {
						border-left-color: $gold;
						background-color: #ddd;
					}
				}

				&.active {
					.nav-link {
						font-weight: 600;
						border-left-color: $gold;
						background-color: #ddd;
					}
				}

				ul.children {
					.nav-item {
						.nav-link {
							background-color: white;
							color: #5a5a5a;
							border-left: 0 none;
							padding-left: 40px;
							&:before {
								content: '- ';
							}
						}
					}
				}
			}
		}
		&.current_page_ancestor {
			.nav-link {
				border-left-color: $purple;
				position: relative;
				border-right: 40px solid $gold;

				&:after {
					display: block;
					content: '';
					position: absolute;
					right: -26px;
					top: 20px;
					border: solid $purple;
					border-width: 0 3px 3px 0;
					padding: 5px;
					transition: all .5s ease;
					transform: rotate(-135deg);
					z-index: 100;
				}

				&:hover, &:active, &:focus{ color: $gold; }
			}

			ul.children .nav-item .nav-link:after {
				display: none;
			}

			ul.children .nav-item .nav-link {
				border-right: 0 none;
			}
		}
	}
}
