/**
 * Styles for the WordPress post/page editor.
 * Ensures a visual match between back- and front-end.
 */

/* Import from Google Fonts.
Open Sans, Encode Sans (only new/extra , Roboto Slab, Rozha One. */
 @import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Rozha+One&display=swap');

h1 {
	font-family: var(--wp--preset--font-family--encode-sans-compressed), sans-serif;
	font-weight: 900;
	font-size: 37px !important;
	color: var(--wp--preset--color--spirit-purple) !important;
}

h2 {
	font-family: var(--wp--preset--font-family--encode-sans-compressed), sans-serif;
	font-weight: 800;
	font-size: 28px !important;
	color: var(--wp--preset--color--spirit-purple) !important;
}

h3 {
	font-family: var(--wp--preset--font-family--encode-sans-compressed), sans-serif;
	font-weight: 900;
	font-size: 24px;
	color: var(--wp--preset--color--nearly-black);
}

h4 {
	font-family: var(--wp--preset--font-family--open-sans), sans-serif;
	font-weight: normal;
	font-size: 20px;
	color: var(--wp--preset--color--spirit-purple);
}

h5 {
	font-family: var(--wp--preset--font-family--open-sans), sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: var(--wp--preset--color--nearly-black);
}

h6 {
	font-family: var(--wp--preset--font-family--open-sans), sans-serif;
	font-weight: 300;
	font-size: 17px;
	color: var(--wp--preset--color--nearly-black);
}

// list 
.wp-block-list{
    li.is-style-disabled {
        color: #c9c9c9;
    }
    
    li.is-style-active {
        color: #373a3c;
        border: 0;
        border-left: 2px solid #4b2e83;
        background: #eee;
    }  
}
.is-style-list-group {
    border-radius: 0;
    margin-left: 0;
    padding-left: 0 !important;
    li {
        background-color: #fff;
        border: 1px solid rgba(55, 58, 60, 0.125);
        display: block;
        padding: .75rem 1.25rem;
        position: relative;
        text-decoration: none;
    }
}
.is-style-list-group-flush {
    li {
        background-color: #fff;
        border: 1px solid rgba(55, 58, 60, 0.125);
        display: block;
        padding: .75rem 1.25rem;
        position: relative;
        text-decoration: none;
        border-width: 1px 0px 1px;
        margin-bottom: -1px;
    }
}
.is-style-list-group-horizontal {
    display: flex;
    flex-direction: row;
    li{
        border: 1px solid rgba(55, 58, 60, 0.125);
        display: inline;
        padding: .75rem 1.25rem;    
        &:first-child{
            border-bottom-left-radius: .25rem;
            border-top-right-radius: 0;
        }
    }
}
// pullquote
.wp-block-pullquote {
	border-bottom: none;
	border-top: none;
	text-align: left;
	figcaption{
		cite{
			display: block;
			padding: 35px 0;
		}
	}
	&.has-text-align-center{
		text-align: center;
	}
}

[class*="simple-quote"] {
	figure{
		border: none;
		blockquote{
			quotes: "“" "”" "‘" "’";
			&:before{
				content: open-quote;
				display: block;
				position: relative;
				bottom: -1.5rem;
				left: 0;
				font-family: 'Encode Sans Normal', sans-serif;
				font-size: 3rem;
			}
			&:after{
				content: close-quote;
				position: relative;
				bottom: -1.75rem;
				left: 0;
				font-family: 'Encode Sans Normal', sans-serif;
				font-size: 3rem;
				line-height: 0;
			}
		}
	}
}

