/*
* Styles for Grid shortcode
*/

div.grid {
	&.full-width {
		position: relative;
		width: 100vw;
		max-width: 100vw;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		padding: 20px 0;
	}

	&.gold {
		background-color: $lightgold;
	}

	&.purple {
		background-color: $purple;
		color: $white;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);

		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			color: $white;
			text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
		}
	}

	&.gray,
	&.grey {
		background-color: $darkgray;
		color: $white;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);

		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			color: $white;
			text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
		}
	}

	&.light-gray,
	&.light-grey,
	&.lightgray,
	&.lightgrey {
		background-color: #eeeeee;
	}

	&>div:first-child {
		padding-left: 0;
	}

	&>div:last-child {
		padding-right: 0;
	}

	@media(max-width: 768px) {
		&>div {
			padding-left: 0;
			padding-right: 0;
			flex-basis: auto;
		}

		&.row.equal .col-sm {
			margin-bottom: 20px;
		}
	}
}
