.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #8967ca;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(75, 46, 131, 0.25);
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder,
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
input[type="date"].form-control,
input[type="datetime-local"].form-control,
input[type="month"].form-control,
input[type="time"].form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}
.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}
.col-form-label-lg {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 1.25rem;
  line-height: 1.5;
}
.col-form-label-sm {
  padding-top: calc(0.25rem + 1px);
  padding-bottom: calc(0.25rem + 1px);
  font-size: 0.875rem;
  line-height: 1.5;
}
.form-control-plaintext {
  display: block;
  width: 100%;
  padding: 0.375rem 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: transparent;
  border: solid transparent;
  border-width: 1px 0;
}
.form-control-plaintext.form-control-lg,
.form-control-plaintext.form-control-sm {
  padding-right: 0;
  padding-left: 0;
}
.form-control-sm {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
select.form-control[multiple],
select.form-control[size],
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 1rem;
}
.form-text {
  display: block;
  margin-top: 0.25rem;
}
.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
}
.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}
.form-check-input:disabled ~ .form-check-label,
.form-check-input[disabled] ~ .form-check-label {
  color: #6c757d;
}
.form-check-label {
  margin-bottom: 0;
}
.form-check-inline {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  margin-right: 0.75rem;
}
.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: 0.3125rem;
  margin-left: 0;
}
.valid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #449d44;
}
.valid-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(68, 157, 68, 0.9);
  border-radius: 0.25rem;
}
.form-row > .col > .valid-tooltip,
.form-row > [class*="col-"] > .valid-tooltip {
  left: 5px;
}
.is-valid ~ .valid-feedback,
.is-valid ~ .valid-tooltip,
.was-validated :valid ~ .valid-feedback,
.was-validated :valid ~ .valid-tooltip {
  display: block;
}
.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: #449d44;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23449D44' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
  border-color: #449d44;
  box-shadow: 0 0 0 0.2rem rgba(68, 157, 68, 0.25);
}
.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right
  calc(0.375em + 0.1875rem);
}
.custom-select.is-valid,
.was-validated .custom-select:valid {
  border-color: #449d44;
  padding-right: calc(0.75em + 2.3125rem);
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
  right 0.75rem center/8px 10px no-repeat,
  #fff
  url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23449D44' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E")
  center right 1.75rem / calc(0.75em + 0.375rem) calc(0.75em + 0.375rem)
  no-repeat;
}
.custom-select.is-valid:focus,
.was-validated .custom-select:valid:focus {
  border-color: #449d44;
  box-shadow: 0 0 0 0.2rem rgba(68, 157, 68, 0.25);
}
.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: #449d44;
}
.form-check-input.is-valid ~ .valid-feedback,
.form-check-input.is-valid ~ .valid-tooltip,
.was-validated .form-check-input:valid ~ .valid-feedback,
.was-validated .form-check-input:valid ~ .valid-tooltip {
  display: block;
}
.custom-control-input.is-valid ~ .custom-control-label,
.was-validated .custom-control-input:valid ~ .custom-control-label {
  color: #449d44;
}
.custom-control-input.is-valid ~ .custom-control-label:before,
.was-validated .custom-control-input:valid ~ .custom-control-label:before {
  border-color: #449d44;
}
.custom-control-input.is-valid:checked ~ .custom-control-label:before,
.was-validated
.custom-control-input:valid:checked
~ .custom-control-label:before {
  border-color: #5cb85c;
  background-color: #5cb85c;
}
.custom-control-input.is-valid:focus ~ .custom-control-label:before,
.was-validated
.custom-control-input:valid:focus
~ .custom-control-label:before {
  box-shadow: 0 0 0 0.2rem rgba(68, 157, 68, 0.25);
}
.custom-control-input.is-valid:focus:not(:checked)
~ .custom-control-label:before,
.custom-file-input.is-valid ~ .custom-file-label,
.was-validated
.custom-control-input:valid:focus:not(:checked)
~ .custom-control-label:before,
.was-validated .custom-file-input:valid ~ .custom-file-label {
  border-color: #449d44;
}
.custom-file-input.is-valid:focus ~ .custom-file-label,
.was-validated .custom-file-input:valid:focus ~ .custom-file-label {
  border-color: #449d44;
  box-shadow: 0 0 0 0.2rem rgba(68, 157, 68, 0.25);
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #cb2e25;
}
.invalid-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(203, 46, 37, 0.9);
  border-radius: 0.25rem;
}
.form-row > .col > .invalid-tooltip,
.form-row > [class*="col-"] > .invalid-tooltip {
  left: 5px;
}
.is-invalid ~ .invalid-feedback,
.is-invalid ~ .invalid-tooltip,
.was-validated :invalid ~ .invalid-feedback,
.was-validated :invalid ~ .invalid-tooltip {
  display: block;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: #cb2e25;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23CB2E25' viewBox='0 0 12 12'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23CB2E25' stroke='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: #cb2e25;
  box-shadow: 0 0 0 0.2rem rgba(203, 46, 37, 0.25);
}
.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
  padding-right: calc(1.5em + 0.75rem);
  background-position: top calc(0.375em + 0.1875rem) right
  calc(0.375em + 0.1875rem);
}
.custom-select.is-invalid,
.was-validated .custom-select:invalid {
  border-color: #cb2e25;
  padding-right: calc(0.75em + 2.3125rem);
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
  right 0.75rem center/8px 10px no-repeat,
  #fff
  url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23CB2E25' viewBox='0 0 12 12'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23CB2E25' stroke='none'/%3E%3C/svg%3E")
  center right 1.75rem / calc(0.75em + 0.375rem) calc(0.75em + 0.375rem)
  no-repeat;
}
.custom-select.is-invalid:focus,
.was-validated .custom-select:invalid:focus {
  border-color: #cb2e25;
  box-shadow: 0 0 0 0.2rem rgba(203, 46, 37, 0.25);
}
.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
  color: #cb2e25;
}
.form-check-input.is-invalid ~ .invalid-feedback,
.form-check-input.is-invalid ~ .invalid-tooltip,
.was-validated .form-check-input:invalid ~ .invalid-feedback,
.was-validated .form-check-input:invalid ~ .invalid-tooltip {
  display: block;
}
.custom-control-input.is-invalid ~ .custom-control-label,
.was-validated .custom-control-input:invalid ~ .custom-control-label {
  color: #cb2e25;
}
.custom-control-input.is-invalid ~ .custom-control-label:before,
.was-validated .custom-control-input:invalid ~ .custom-control-label:before {
  border-color: #cb2e25;
}
.custom-control-input.is-invalid:checked ~ .custom-control-label:before,
.was-validated
.custom-control-input:invalid:checked
~ .custom-control-label:before {
  border-color: #dd4e46;
  background-color: #dd4e46;
}
.custom-control-input.is-invalid:focus ~ .custom-control-label:before,
.was-validated
.custom-control-input:invalid:focus
~ .custom-control-label:before {
  box-shadow: 0 0 0 0.2rem rgba(203, 46, 37, 0.25);
}
.custom-control-input.is-invalid:focus:not(:checked)
~ .custom-control-label:before,
.custom-file-input.is-invalid ~ .custom-file-label,
.was-validated
.custom-control-input:invalid:focus:not(:checked)
~ .custom-control-label:before,
.was-validated .custom-file-input:invalid ~ .custom-file-label {
  border-color: #cb2e25;
}
.custom-file-input.is-invalid:focus ~ .custom-file-label,
.was-validated .custom-file-input:invalid:focus ~ .custom-file-label {
  border-color: #cb2e25;
  box-shadow: 0 0 0 0.2rem rgba(203, 46, 37, 0.25);
}
.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}
.form-inline .form-check {
  width: 100%;
}
@media (min-width: 576px) {
  .form-inline label {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .form-inline .form-group,
  .form-inline label {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .form-inline .form-group {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-plaintext {
    display: inline-block;
  }
  .form-inline .custom-select,
  .form-inline .input-group {
    width: auto;
  }
  .form-inline .form-check {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    padding-left: 0;
  }
  .form-inline .form-check-input {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: 0;
    margin-right: 0.25rem;
    margin-left: 0;
  }
  .form-inline .custom-control {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .form-inline .custom-control-label {
    margin-bottom: 0;
  }
}
.archive article .entry-content .more-link,
.archive article .entry-summary .more-link,
.blog article .entry-content .more-link,
.blog article .entry-summary .more-link,
.btn,
.category article .entry-content .more-link,
.category article .entry-summary .more-link,
.post-password-form input[type="submit"],
.single-post article .entry-content .more-link,
.single-post article .entry-summary .more-link,
.tag article .entry-content .more-link,
.tag article .entry-summary .more-link {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .archive article .entry-content .more-link,
  .archive article .entry-summary .more-link,
  .blog article .entry-content .more-link,
  .blog article .entry-summary .more-link,
  .btn,
  .category article .entry-content .more-link,
  .category article .entry-summary .more-link,
  .post-password-form input[type="submit"],
  .single-post article .entry-content .more-link,
  .single-post article .entry-summary .more-link,
  .tag article .entry-content .more-link,
  .tag article .entry-summary .more-link {
    transition: none;
  }
}
.archive article .entry-content .more-link:hover,
.archive article .entry-summary .more-link:hover,
.blog article .entry-content .more-link:hover,
.blog article .entry-summary .more-link:hover,
.btn:hover,
.category article .entry-content .more-link:hover,
.category article .entry-summary .more-link:hover,
.post-password-form input:hover[type="submit"],
.single-post article .entry-content .more-link:hover,
.single-post article .entry-summary .more-link:hover,
.tag article .entry-content .more-link:hover,
.tag article .entry-summary .more-link:hover {
  color: #212529;
  text-decoration: none;
}
.archive article .entry-content .focus.more-link,
.archive article .entry-content .more-link:focus,
.archive article .entry-summary .focus.more-link,
.archive article .entry-summary .more-link:focus,
.blog article .entry-content .focus.more-link,
.blog article .entry-content .more-link:focus,
.blog article .entry-summary .focus.more-link,
.blog article .entry-summary .more-link:focus,
.btn.focus,
.btn:focus,
.category article .entry-content .focus.more-link,
.category article .entry-content .more-link:focus,
.category article .entry-summary .focus.more-link,
.category article .entry-summary .more-link:focus,
.post-password-form input.focus[type="submit"],
.post-password-form input:focus[type="submit"],
.single-post article .entry-content .focus.more-link,
.single-post article .entry-content .more-link:focus,
.single-post article .entry-summary .focus.more-link,
.single-post article .entry-summary .more-link:focus,
.tag article .entry-content .focus.more-link,
.tag article .entry-content .more-link:focus,
.tag article .entry-summary .focus.more-link,
.tag article .entry-summary .more-link:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(75, 46, 131, 0.25);
}
.archive article .entry-content .disabled.more-link,
.archive article .entry-content .more-link:disabled,
.archive article .entry-summary .disabled.more-link,
.archive article .entry-summary .more-link:disabled,
.blog article .entry-content .disabled.more-link,
.blog article .entry-content .more-link:disabled,
.blog article .entry-summary .disabled.more-link,
.blog article .entry-summary .more-link:disabled,
.btn.disabled,
.btn:disabled,
.category article .entry-content .disabled.more-link,
.category article .entry-content .more-link:disabled,
.category article .entry-summary .disabled.more-link,
.category article .entry-summary .more-link:disabled,
.post-password-form input.disabled[type="submit"],
.post-password-form input:disabled[type="submit"],
.single-post article .entry-content .disabled.more-link,
.single-post article .entry-content .more-link:disabled,
.single-post article .entry-summary .disabled.more-link,
.single-post article .entry-summary .more-link:disabled,
.tag article .entry-content .disabled.more-link,
.tag article .entry-content .more-link:disabled,
.tag article .entry-summary .disabled.more-link,
.tag article .entry-summary .more-link:disabled {
  opacity: 0.65;
}
.archive article .entry-content .more-link:not(:disabled):not(.disabled),
.archive article .entry-summary .more-link:not(:disabled):not(.disabled),
.blog article .entry-content .more-link:not(:disabled):not(.disabled),
.blog article .entry-summary .more-link:not(:disabled):not(.disabled),
.btn:not(:disabled):not(.disabled),
.category article .entry-content .more-link:not(:disabled):not(.disabled),
.category article .entry-summary .more-link:not(:disabled):not(.disabled),
.post-password-form input:not(:disabled):not(.disabled)[type="submit"],
.single-post article .entry-content .more-link:not(:disabled):not(.disabled),
.single-post article .entry-summary .more-link:not(:disabled):not(.disabled),
.tag article .entry-content .more-link:not(:disabled):not(.disabled),
.tag article .entry-summary .more-link:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.archive article .entry-content a.disabled.more-link,
.archive article .entry-content fieldset:disabled a.more-link,
.archive article .entry-summary a.disabled.more-link,
.archive article .entry-summary fieldset:disabled a.more-link,
.blog article .entry-content a.disabled.more-link,
.blog article .entry-content fieldset:disabled a.more-link,
.blog article .entry-summary a.disabled.more-link,
.blog article .entry-summary fieldset:disabled a.more-link,
.category article .entry-content a.disabled.more-link,
.category article .entry-content fieldset:disabled a.more-link,
.category article .entry-summary a.disabled.more-link,
.category article .entry-summary fieldset:disabled a.more-link,
.single-post article .entry-content a.disabled.more-link,
.single-post article .entry-content fieldset:disabled a.more-link,
.single-post article .entry-summary a.disabled.more-link,
.single-post article .entry-summary fieldset:disabled a.more-link,
.tag article .entry-content a.disabled.more-link,
.tag article .entry-content fieldset:disabled a.more-link,
.tag article .entry-summary a.disabled.more-link,
.tag article .entry-summary fieldset:disabled a.more-link,
a.btn.disabled,
fieldset:disabled .archive article .entry-content a.more-link,
fieldset:disabled .archive article .entry-summary a.more-link,
fieldset:disabled .blog article .entry-content a.more-link,
fieldset:disabled .blog article .entry-summary a.more-link,
fieldset:disabled .category article .entry-content a.more-link,
fieldset:disabled .category article .entry-summary a.more-link,
fieldset:disabled .single-post article .entry-content a.more-link,
fieldset:disabled .single-post article .entry-summary a.more-link,
fieldset:disabled .tag article .entry-content a.more-link,
fieldset:disabled .tag article .entry-summary a.more-link,
fieldset:disabled a.btn {
  pointer-events: none;
}
.archive article .entry-content .more-link,
.archive article .entry-summary .more-link,
.blog article .entry-content .more-link,
.blog article .entry-summary .more-link,
.btn-primary,
.category article .entry-content .more-link,
.category article .entry-summary .more-link,
.post-password-form input[type="submit"],
.single-post article .entry-content .more-link,
.single-post article .entry-summary .more-link,
.tag article .entry-content .more-link,
.tag article .entry-summary .more-link {
  color: #fff;
  background-color: #4b2e83;
  border-color: #4b2e83;
}
.archive article .entry-content .more-link:hover,
.archive article .entry-summary .more-link:hover,
.blog article .entry-content .more-link:hover,
.blog article .entry-summary .more-link:hover,
.btn-primary:hover,
.category article .entry-content .more-link:hover,
.category article .entry-summary .more-link:hover,
.post-password-form input:hover[type="submit"],
.single-post article .entry-content .more-link:hover,
.single-post article .entry-summary .more-link:hover,
.tag article .entry-content .more-link:hover,
.tag article .entry-summary .more-link:hover {
  color: #fff;
  background-color: #3b2467;
  border-color: #35215d;
}
.archive article .entry-content .focus.more-link,
.archive article .entry-content .more-link:focus,
.archive article .entry-summary .focus.more-link,
.archive article .entry-summary .more-link:focus,
.blog article .entry-content .focus.more-link,
.blog article .entry-content .more-link:focus,
.blog article .entry-summary .focus.more-link,
.blog article .entry-summary .more-link:focus,
.btn-primary.focus,
.btn-primary:focus,
.category article .entry-content .focus.more-link,
.category article .entry-content .more-link:focus,
.category article .entry-summary .focus.more-link,
.category article .entry-summary .more-link:focus,
.post-password-form input.focus[type="submit"],
.post-password-form input:focus[type="submit"],
.single-post article .entry-content .focus.more-link,
.single-post article .entry-content .more-link:focus,
.single-post article .entry-summary .focus.more-link,
.single-post article .entry-summary .more-link:focus,
.tag article .entry-content .focus.more-link,
.tag article .entry-content .more-link:focus,
.tag article .entry-summary .focus.more-link,
.tag article .entry-summary .more-link:focus {
  color: #fff;
  background-color: #3b2467;
  border-color: #35215d;
  box-shadow: 0 0 0 0.2rem rgba(102, 77, 150, 0.5);
}
.archive article .entry-content .disabled.more-link,
.archive article .entry-content .more-link:disabled,
.archive article .entry-summary .disabled.more-link,
.archive article .entry-summary .more-link:disabled,
.blog article .entry-content .disabled.more-link,
.blog article .entry-content .more-link:disabled,
.blog article .entry-summary .disabled.more-link,
.blog article .entry-summary .more-link:disabled,
.btn-primary.disabled,
.btn-primary:disabled,
.category article .entry-content .disabled.more-link,
.category article .entry-content .more-link:disabled,
.category article .entry-summary .disabled.more-link,
.category article .entry-summary .more-link:disabled,
.post-password-form input.disabled[type="submit"],
.post-password-form input:disabled[type="submit"],
.single-post article .entry-content .disabled.more-link,
.single-post article .entry-content .more-link:disabled,
.single-post article .entry-summary .disabled.more-link,
.single-post article .entry-summary .more-link:disabled,
.tag article .entry-content .disabled.more-link,
.tag article .entry-content .more-link:disabled,
.tag article .entry-summary .disabled.more-link,
.tag article .entry-summary .more-link:disabled {
  color: #fff;
  background-color: #4b2e83;
  border-color: #4b2e83;
}
.archive article .entry-content .more-link:not(:disabled):not(.disabled).active,
.archive article .entry-content .more-link:not(:disabled):not(.disabled):active,
.archive article .entry-content .show > .dropdown-toggle.more-link,
.archive article .entry-summary .more-link:not(:disabled):not(.disabled).active,
.archive article .entry-summary .more-link:not(:disabled):not(.disabled):active,
.archive article .entry-summary .show > .dropdown-toggle.more-link,
.blog article .entry-content .more-link:not(:disabled):not(.disabled).active,
.blog article .entry-content .more-link:not(:disabled):not(.disabled):active,
.blog article .entry-content .show > .dropdown-toggle.more-link,
.blog article .entry-summary .more-link:not(:disabled):not(.disabled).active,
.blog article .entry-summary .more-link:not(:disabled):not(.disabled):active,
.blog article .entry-summary .show > .dropdown-toggle.more-link,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.category
article
.entry-content
.more-link:not(:disabled):not(.disabled).active,
.category
article
.entry-content
.more-link:not(:disabled):not(.disabled):active,
.category article .entry-content .show > .dropdown-toggle.more-link,
.category
article
.entry-summary
.more-link:not(:disabled):not(.disabled).active,
.category
article
.entry-summary
.more-link:not(:disabled):not(.disabled):active,
.category article .entry-summary .show > .dropdown-toggle.more-link,
.post-password-form .show > input.dropdown-toggle[type="submit"],
.post-password-form input:not(:disabled):not(.disabled).active[type="submit"],
.post-password-form input:not(:disabled):not(.disabled):active[type="submit"],
.show > .btn-primary.dropdown-toggle,
.single-post
article
.entry-content
.more-link:not(:disabled):not(.disabled).active,
.single-post
article
.entry-content
.more-link:not(:disabled):not(.disabled):active,
.single-post article .entry-content .show > .dropdown-toggle.more-link,
.single-post
article
.entry-summary
.more-link:not(:disabled):not(.disabled).active,
.single-post
article
.entry-summary
.more-link:not(:disabled):not(.disabled):active,
.single-post article .entry-summary .show > .dropdown-toggle.more-link,
.tag article .entry-content .more-link:not(:disabled):not(.disabled).active,
.tag article .entry-content .more-link:not(:disabled):not(.disabled):active,
.tag article .entry-content .show > .dropdown-toggle.more-link,
.tag article .entry-summary .more-link:not(:disabled):not(.disabled).active,
.tag article .entry-summary .more-link:not(:disabled):not(.disabled):active,
.tag article .entry-summary .show > .dropdown-toggle.more-link {
  color: #fff;
  background-color: #35215d;
  border-color: #301d54;
}
.archive
article
.entry-content
.more-link:not(:disabled):not(.disabled).active:focus,
.archive
article
.entry-content
.more-link:not(:disabled):not(.disabled):active:focus,
.archive article .entry-content .show > .dropdown-toggle.more-link:focus,
.archive
article
.entry-summary
.more-link:not(:disabled):not(.disabled).active:focus,
.archive
article
.entry-summary
.more-link:not(:disabled):not(.disabled):active:focus,
.archive article .entry-summary .show > .dropdown-toggle.more-link:focus,
.blog
article
.entry-content
.more-link:not(:disabled):not(.disabled).active:focus,
.blog
article
.entry-content
.more-link:not(:disabled):not(.disabled):active:focus,
.blog article .entry-content .show > .dropdown-toggle.more-link:focus,
.blog
article
.entry-summary
.more-link:not(:disabled):not(.disabled).active:focus,
.blog
article
.entry-summary
.more-link:not(:disabled):not(.disabled):active:focus,
.blog article .entry-summary .show > .dropdown-toggle.more-link:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.category
article
.entry-content
.more-link:not(:disabled):not(.disabled).active:focus,
.category
article
.entry-content
.more-link:not(:disabled):not(.disabled):active:focus,
.category article .entry-content .show > .dropdown-toggle.more-link:focus,
.category
article
.entry-summary
.more-link:not(:disabled):not(.disabled).active:focus,
.category
article
.entry-summary
.more-link:not(:disabled):not(.disabled):active:focus,
.category article .entry-summary .show > .dropdown-toggle.more-link:focus,
.post-password-form .show > input.dropdown-toggle:focus[type="submit"],
.post-password-form
input:not(:disabled):not(.disabled).active:focus[type="submit"],
.post-password-form
input:not(:disabled):not(.disabled):active:focus[type="submit"],
.show > .btn-primary.dropdown-toggle:focus,
.single-post
article
.entry-content
.more-link:not(:disabled):not(.disabled).active:focus,
.single-post
article
.entry-content
.more-link:not(:disabled):not(.disabled):active:focus,
.single-post article .entry-content .show > .dropdown-toggle.more-link:focus,
.single-post
article
.entry-summary
.more-link:not(:disabled):not(.disabled).active:focus,
.single-post
article
.entry-summary
.more-link:not(:disabled):not(.disabled):active:focus,
.single-post article .entry-summary .show > .dropdown-toggle.more-link:focus,
.tag
article
.entry-content
.more-link:not(:disabled):not(.disabled).active:focus,
.tag
article
.entry-content
.more-link:not(:disabled):not(.disabled):active:focus,
.tag article .entry-content .show > .dropdown-toggle.more-link:focus,
.tag
article
.entry-summary
.more-link:not(:disabled):not(.disabled).active:focus,
.tag
article
.entry-summary
.more-link:not(:disabled):not(.disabled):active:focus,
.tag article .entry-summary .show > .dropdown-toggle.more-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(102, 77, 150, 0.5);
}
.btn-secondary {
  color: #fff;
  background-color: #85754d;
  border-color: #85754d;
}
.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:hover {
  color: #fff;
  background-color: #6d603f;
  border-color: #65593a;
}
.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem hsla(43, 18%, 50%, 0.5);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #85754d;
  border-color: #85754d;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #65593a;
  border-color: #5d5136;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsla(43, 18%, 50%, 0.5);
}
.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #449d44;
}
.btn-success.focus,
.btn-success:focus,
.btn-success:hover {
  color: #fff;
  background-color: #388238;
  border-color: #357935;
}
.btn-success.focus,
.btn-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(96, 172, 96, 0.5);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: #449d44;
  border-color: #449d44;
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: #357935;
  border-color: #317131;
}
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(96, 172, 96, 0.5);
}
.btn-info {
  color: #fff;
  background-color: #0074bb;
  border-color: #0074bb;
}
.btn-info.focus,
.btn-info:focus,
.btn-info:hover {
  color: #fff;
  background-color: #005c95;
  border-color: #005488;
}
.btn-info.focus,
.btn-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 137, 197, 0.5);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #fff;
  background-color: #0074bb;
  border-color: #0074bb;
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #005488;
  border-color: #004c7b;
}
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 137, 197, 0.5);
}
.btn-warning {
  color: #212529;
  background-color: #ee9800;
  border-color: #ee9800;
}
.btn-warning.focus,
.btn-warning:focus,
.btn-warning:hover {
  color: #fff;
  background-color: #c88000;
  border-color: #b70;
}
.btn-warning.focus,
.btn-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(207, 135, 6, 0.5);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #212529;
  background-color: #ee9800;
  border-color: #ee9800;
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show > .btn-warning.dropdown-toggle {
  color: #fff;
  background-color: #b70;
  border-color: #ae6f00;
}
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(207, 135, 6, 0.5);
}
.btn-danger {
  color: #fff;
  background-color: #cb2e25;
  border-color: #cb2e25;
}
.btn-danger.focus,
.btn-danger:focus,
.btn-danger:hover {
  color: #fff;
  background-color: #ab271f;
  border-color: #a0241d;
}
.btn-danger.focus,
.btn-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(211, 77, 70, 0.5);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #cb2e25;
  border-color: #cb2e25;
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #a0241d;
  border-color: #95221b;
}
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(211, 77, 70, 0.5);
}
.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light.focus,
.btn-light:focus,
.btn-light:hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.btn-light.focus,
.btn-light:focus {
  box-shadow: 0 0 0 0.2rem hsla(220, 4%, 85%, 0.5);
}
.btn-light.disabled,
.btn-light:disabled {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
}
.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem hsla(220, 4%, 85%, 0.5);
}
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark.focus,
.btn-dark:focus,
.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}
.btn-dark.focus,
.btn-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.btn-dark.disabled,
.btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}
.btn-outline-primary {
  color: #4b2e83;
  border-color: #4b2e83;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #4b2e83;
  border-color: #4b2e83;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(75, 46, 131, 0.5);
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #4b2e83;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #4b2e83;
  border-color: #4b2e83;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(75, 46, 131, 0.5);
}
.btn-outline-secondary {
  color: #85754d;
  border-color: #85754d;
}
.btn-outline-secondary:hover {
  color: #fff;
  background-color: #85754d;
  border-color: #85754d;
}
.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(133, 117, 77, 0.5);
}
.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
  color: #85754d;
  background-color: transparent;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #85754d;
  border-color: #85754d;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(133, 117, 77, 0.5);
}
.btn-outline-success {
  color: #449d44;
  border-color: #449d44;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #449d44;
}
.btn-outline-success.focus,
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem rgba(68, 157, 68, 0.5);
}
.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #449d44;
  background-color: transparent;
}
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show > .btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  border-color: #449d44;
}
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(68, 157, 68, 0.5);
}
.btn-outline-info {
  color: #0074bb;
  border-color: #0074bb;
}
.btn-outline-info:hover {
  color: #fff;
  background-color: #0074bb;
  border-color: #0074bb;
}
.btn-outline-info.focus,
.btn-outline-info:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 116, 187, 0.5);
}
.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: #0074bb;
  background-color: transparent;
}
.btn-outline-info:not(:disabled):not(.disabled).active,
.btn-outline-info:not(:disabled):not(.disabled):active,
.show > .btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #0074bb;
  border-color: #0074bb;
}
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 116, 187, 0.5);
}
.btn-outline-warning {
  color: #ee9800;
  border-color: #ee9800;
}
.btn-outline-warning:hover {
  color: #212529;
  background-color: #ee9800;
  border-color: #ee9800;
}
.btn-outline-warning.focus,
.btn-outline-warning:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 152, 0, 0.5);
}
.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: #ee9800;
  background-color: transparent;
}
.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle {
  color: #212529;
  background-color: #ee9800;
  border-color: #ee9800;
}
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 152, 0, 0.5);
}
.btn-outline-danger {
  color: #cb2e25;
  border-color: #cb2e25;
}
.btn-outline-danger:hover {
  color: #fff;
  background-color: #cb2e25;
  border-color: #cb2e25;
}
.btn-outline-danger.focus,
.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.2rem rgba(203, 46, 37, 0.5);
}
.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: #cb2e25;
  background-color: transparent;
}
.btn-outline-danger:not(:disabled):not(.disabled).active,
.btn-outline-danger:not(:disabled):not(.disabled):active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #cb2e25;
  border-color: #cb2e25;
}
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(203, 46, 37, 0.5);
}
.btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:hover {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light.focus,
.btn-outline-light:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: #f8f9fa;
  background-color: transparent;
}
.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show > .btn-outline-light.dropdown-toggle {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}
.btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
}
.btn-outline-dark:hover {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-outline-dark.focus,
.btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.btn-outline-dark.disabled,
.btn-outline-dark:disabled {
  color: #343a40;
  background-color: transparent;
}
.btn-outline-dark:not(:disabled):not(.disabled).active,
.btn-outline-dark:not(:disabled):not(.disabled):active,
.show > .btn-outline-dark.dropdown-toggle {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show > .btn-outline-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
.btn-link {
  font-weight: 400;
  color: #1a62c7;
  text-decoration: underline;
}
.btn-link:hover {
  color: #85754d;
}
.btn-link.focus,
.btn-link:focus,
.btn-link:hover {
  text-decoration: underline;
}
.btn-link.disabled,
.btn-link:disabled {
  color: #6c757d;
  pointer-events: none;
}
.archive article .entry-content .btn-group-lg > .more-link,
.archive article .entry-summary .btn-group-lg > .more-link,
.blog article .entry-content .btn-group-lg > .more-link,
.blog article .entry-summary .btn-group-lg > .more-link,
.btn-group-lg > .btn,
.btn-lg,
.category article .entry-content .btn-group-lg > .more-link,
.category article .entry-summary .btn-group-lg > .more-link,
.post-password-form .btn-group-lg > input[type="submit"],
.single-post article .entry-content .btn-group-lg > .more-link,
.single-post article .entry-summary .btn-group-lg > .more-link,
.tag article .entry-content .btn-group-lg > .more-link,
.tag article .entry-summary .btn-group-lg > .more-link {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
.archive article .entry-content .btn-group-sm > .more-link,
.archive article .entry-summary .btn-group-sm > .more-link,
.blog article .entry-content .btn-group-sm > .more-link,
.blog article .entry-summary .btn-group-sm > .more-link,
.btn-group-sm > .btn,
.btn-sm,
.category article .entry-content .btn-group-sm > .more-link,
.category article .entry-summary .btn-group-sm > .more-link,
.post-password-form .btn-group-sm > input[type="submit"],
.single-post article .entry-content .btn-group-sm > .more-link,
.single-post article .entry-summary .btn-group-sm > .more-link,
.tag article .entry-content .btn-group-sm > .more-link,
.tag article .entry-summary .btn-group-sm > .more-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 0.5rem;
}
input[type="button"].btn-block,
input[type="reset"].btn-block,
input[type="submit"].btn-block {
  width: 100%;
}
